.card {
  width: 400px;
    max-width: 400px;
  }

  .header-image {

    background-size: cover;
  }

  mat-card{
    background-color: burlywood !important;
  }

  mat-card-title{
    text-align: center;
    font-size: 24px;
    font-family: 'Satisfy', cursive;
  }

  mat-icon{
    color: black;
  }

  mat-card-actions{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  
button{

  color: black !important;
  background-color: transparent;
  border: none;
}
