<div *ngIf="recipeData" class="card">
    <mat-card >
      <mat-card-header>

        <mat-card-title>{{recipeData.name}}</mat-card-title>

      </mat-card-header>
      <img mat-card-image src="{{recipeData.url}}" alt="">
      <mat-card-content>
        <p>{{recipeData.description}}</p>
      </mat-card-content>
      <div>
           <mat-card-content>
            <span *ngFor="let recipe of recipeData.ingredients"></span>
           </mat-card-content>
      </div>

      <mat-card-actions>
          <button (click)="select()" mat-icon-button>
           <mat-icon> info </mat-icon>
          </button>



      </mat-card-actions>
    </mat-card>

  </div>
