<mat-toolbar color="primary">

  <span routerLink="/list" class="home-link">Angular Recipes</span>
  <span class="spacer"></span>
  <button mat-icon-button routerLink="/new">
    <mat-icon>add_box</mat-icon>
  </button>
  <button mat-icon-button routerLink="/favourites">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/new">
      Aggiungi ricetta
    </button>


    <mat-menu #categoryMenu="matMenu">
      <button mat-menu-item *ngFor="let category of categories" (click)="filter(category)">
        {{ category }}
      </button>
    </mat-menu>


    <button mat-menu-item [matMenuTriggerFor]="categoryMenu">
      Categorie
    </button>



    <button mat-menu-item routerLink="/favourites">Vai alla pagina dei preferiti</button>
  </mat-menu>



</mat-toolbar>
