<div *ngIf="recipe && !isEditing" class="card-container">

  <div class="img-container"> <img src="{{recipe.url}}" alt=""></div>
  <div class="title-container"> <h1> {{recipe.name}}</h1></div>
    <ul>
      <li *ngFor="let ing of recipe.ingredients">{{ing}} </li>
    </ul>
    <div class="text-container">
      <p>{{recipe.description}}</p>
    </div>

<div class="btn-container">
      <mat-card-actions>
        <button (click)="delete(recipe.id!)" mat-button color="primary">Elimina ricetta</button>
        <button (click)="startEditing()" mat-button>Modifica ricetta</button>
      </mat-card-actions>
  </div>
 </div>

<div *ngIf="recipe && isEditing">

    <form>
        <label for="name">Nome:</label>
        <input [(ngModel)]="newRecipe.name" type="text" name="name">

        <label for="description">Procedimento:</label>
        <input [(ngModel)]="newRecipe.description" type="text" name="description">

        <label for="url">Foto:</label>
        <input [(ngModel)]="newRecipe.url" type="text" name="url">

        <label for="category">Categoria:</label>
        <input [(ngModel)]="newRecipe.category" type="number" name="category">



        <mat-card-actions>
            <button (click)="saveRecipe()" mat-button>Salva</button>
            <button (click)="cancelEditing()" mat-button>Annulla</button>
        </mat-card-actions>
    </form>
</div>
