@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-image: url(./assets/pattern.jpg);
background-size: cover;
background-attachment: fixed;}


