
<div class="header"> <h1> Aggiungi una ricetta: </h1></div>

<div class="form-container">
  <form class="form">
    <p>
      <mat-form-field appearance="fill">
        <mat-label for="name">Nome:</mat-label>
        <input matInput placeholder="Nome ricetta" [(ngModel)]="newRecipe.name" type="text" name="name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label for="url">Foto Ricetta:</mat-label>
        <input matInput placeholder="Foto del piatto" [(ngModel)]="newRecipe.url" type="text" name="url">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label for="category">Categoria</mat-label>
        <input matInput placeholder="Categoria" [(ngModel)]="newRecipe.category" type="number" name="category">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

      </mat-form-field>
    </p>
    <mat-form-field class="example-chip-list">
      <mat-label>Ingredienti</mat-label>

      <mat-chip-grid #chipGrid aria-label="Selezione degli ingredienti">
        <mat-chip-row *ngFor="let ingredient of ingredients" (removed)="remove(ingredient)">
          {{ ingredient }}
          <button matChipRemove [attr.aria-label]="'Rimuovi ' + ingredient">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>

      <input placeholder="Nuovo Ingrediente..." #fruitInput [formControl]="fruitCtrl" [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)" />

      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let fruit of filteredIngredients | async" [value]="fruit">
          {{ fruit }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <p class="procediment">
      <mat-form-field appearance="fill">
        <mat-label for="description">Procedimento:</mat-label>
        <input matInput placeholder="Procedimento" [(ngModel)]="newRecipe.description" type="text" name="description">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

      </mat-form-field>
    </p>


  </form>


  <section>

    <div class="example-button-row">
      <button mat-raised-button (click)="submitRecipe()">Invia</button>


    </div>
